<h1>Регистрация</h1>
<%= simple_form_for @user, url: registrations_path, method: :create do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.button :submit, "Зарегистрироваться"%>
<% end %>