<h1>Редактирование профиля</h1>
<%= simple_form_for current_user, url: profile_path, method: :patch do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.input :locale, collection: I18n.available_locales, include_blank: false %>
  <%= f.button :submit %>
<% end %>