<h1><%= t('.title') %></h1>
  <table class="table table-striped">
    <tr>
      <th><%= t(:original_text) %></th>
      <th><%= t(:translated_text)%></th>
      <th><%= t(:review_date) %></th>
      <th><%= t(:deck) %></th>
      <th><%= t(:actions) %></th>
    </tr>

    <% @cards.each do |card| %>
      <tr>
        <td><%= card.original_text %></td>
        <td><%= card.translated_text %></td>
        <td><%= card.review_date.strftime("%d/%m/%Y") %></td>
        <td><%= card.deck.name %></td>
        <td>
          <%= link_to t(:edit), edit_card_path(card) %>
          <%= link_to t(:destroy), card, method: :delete, data: { confirm: 'Are you sure?'} %>
        </td>
      </tr>
    <% end %>
  </table>
