<h1><%= t(".title") %></h1>
  <table class="table table-striped">
    <tr>
      <th><%= t(:deck_name) %></th>
      <th><%= t(:actions) %></th>
    </tr>

    <% @decks.each do |deck| %>
      <%if deck.current? %>
        <tr class="success">
      <% else %>
        <tr>
      <% end %>
        <td><%= deck.name %></td>
        <td>
          <%= link_to t(:set_current), set_current_deck_path(deck) %>
          <%= link_to t(:edit), edit_deck_path(deck) %>
          <%= link_to t(:destroy), deck, method: :delete, data: { confirm: 'Are you sure?'} %>
        </td>
      </tr>
    <% end %>
  </table>
