<% if review %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="pull-right">
        <p>Прошло <span id="timer"></span> сек.</p>
      </div>
      <h2 class="panel-title">
        <%= review.card.translated_text %>
      </h2>
    </div>
    
    <div class="panel-body">
      <div class="thumbnail">
        <%= image_tag review.card.picture.url(:medium) %>
      </div>
      <%= simple_form_for :review, url: reviews_path, remote: true do |f| %>
        <%= f.input :answer %>
        <%= f.input :card_id, as: :hidden %>
        <%= f.input :answer_time, as: :hidden %>
        <%= f.button :submit, t('.check_answer') %>
      <% end %>
    </div>
  </div>
<% end %>