<!DOCTYPE html>
<html>
<head>
  <title>Флешкарточкер</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section id="container">

  <%= render "layouts/navbar" %>

    <section>
      <div>
        <% flash.each do |key,value| %>
          <p class="<%= flash_class(key) %>"><%= value %></p>
        <% end %>
      </div>
      <%= yield %>
    </section>
  </section>

</body>
</html>
